<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EDDB</title>
    <link rel="stylesheet" href="static/css/base.css">
    <button id="theme-toggle">Theme</button>
</head>
<body>
    <header>
        <h1>EDDB</h1>
        <nav>
            <ul>
                <li><a href="#">Systems</a></li>
                <li><a href="#">Stations</a></li>
                <li><a href="#">Attractions</a></li>
                <li><a href="#">Commodities</a></li>
                <li><a href="#">Factions</a></li>
                <li><a href="#">Bodies</a></li>
                <li><a href="#">Trading</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="hero">
            <h2>Elite Dangerous Database</h2>
        </section>
    </main>
    <script>
        const toggleBtn = document.getElementById('theme-toggle');
        const body = document.body;
      
        toggleBtn.addEventListener('click', function() {
          body.classList.toggle('dark');
        });
      </script>
      
</body>
</html>
