/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #fff;
    color: #333;
}

body header a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

main {
    padding: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #1e1e1e;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.filter-group {
    display: flex;
    flex: 1 0 calc(33.33% - 10px);
    flex-wrap: wrap;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 7px;
}

.filter-group:last-child {
    margin-right: 0;
}

label {
    font-size: 16px;
    color: #fff;
    margin-right: 10px;
}

select {
    font-size: 16px;
    padding: 5px;
    border-radius: 3px;
    border: none;
    background-color: #333;
    color: #fff;
    flex: 1;
}

button[type="submit"] {
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
    background-color: #fbb400;
    color: #1e1e1e;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #ffc042;
}

.filters {
    margin-top: 20px;
    top: 50px;
}

@media only screen and (max-width: 7px) {
    .filter-group {
        flex: 1 0 100%;
        margin-right: 0;
    }
}

#system {
    width: 500px; /* or any other value that fits your layout */
    padding: 5px;
    border: none;
    border-bottom: 2px solid #ddd;
    font-size: 13px;
}


button[type="submit"] {
    margin-left: 10px; /* or any other value that looks good */
}